.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: calc(100vh - 73px);
  }
  .Upload-Container {
    padding: 50px;
  }
  .Upload-Text {
  color: black ;
  font-size: 18px;
  }